h1, form, p {
    text-align: center;
  }
body {
    background-image: url("D3e06I.webp");
    background-color: #130888;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", serif;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

header h1 {
    font-size: 70px;
    font-weight: 600;
    color: #2234a8;
    background-clip: text;
    -webkit-background-clip: text;
}

img:hover{
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
    }
    
input[type="submit"]  {
    background-color: rgba(13, 13, 184, 0.9);
    border: none;
    color: rgb(223, 226, 14);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }
